# http://EditorConfig.org

# top-most EditorConfig file
root = true

# Apply to all code files
[*]
# A newline ending every file
insert_final_newline = true

# Set default charset
charset = utf-8

# Default indendation
indent_size = 4
indent_style = space

# Various options
trim_trailing_whitespace = true

# C++ only options (don't apply to git commits e.g.)
[*.{cxx,hxx,h}]
max_line_length = 160
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 79
