syntax: glob
*~
.*.swp
*.orig
*.pyc
.\#*
\#*\#
tags
*vim*
*.template
archives*
.vscode*
CMakeLists.txt.user
.directory*
build_packages*
# Folder created by CI pipeline. Sometimes to reproduce a bug, we play CI
# pipeline. Thus we don't want these folders to be commited
build
install
xdk
log
