Alexia Mondot <alexia.mondot@c-s.fr>
Amit Kulkarni <amitkulz@gmail.com>
Angelos Tzotsos <tzotsos@gmail.com>
Antoine Regimbeau <antoine.regimbeau@c-s.fr>
Antoine Regimbeau <antoine.regimbeau@c-s.fr>              aregimbe <antoine.regimbeau@c-s.fr>
Antoine Regimbeau <antoine.regimbeau@c-s.fr>              aregimbeau <antoine.regimbeau@c-s.fr>
Arnaud Jaen <arnaud.jaen@c-s.fr>
Arthur Vincent <arthur.vincent@c-s.fr>
Arthur Vincent <arthur.vincent@c-s.fr>                    Arthur Vincent <vincenta@cesbio.cnes.fr>
Aurelien Bricier <aurelien.bricier@c-s.fr>
Aurélie Emilien <aurelie.emilien@c-s.fr>
Aurélie Emilien <aurelie.emilien@c-s.fr>                  Aurelie Emilien <aurelie.emilien@c-s.fr>
Bas Couwenberg <sebastic@debian.org>
Bas Couwenberg <sebastic@debian.org>                      Bas Couwenberg <sebastic@xs4all.nl>
Carole Amiot <carole.amiot@cnes.fr>
Carole Amiot <carole.amiot@cnes.fr>                       Carole Amiot <carole.amiot@thales-services.fr>
Caroline Ruffel <caroline.ruffel@c-s.fr>
Charles Peyrega <charles.peyrega@c-s.fr>
Chia Aik Song <crscas@nus.edu.sg>
Christophe Palmann <christophe.palmann@c-s.fr>
Conrad Bielski <conrad.bielski@yahoo.com>
Cyrille Valladeau <cyrille.valladeau@c-s.fr>
Cédric Traizet <cedric.traizet@c-s.fr>                    Cedric <cedric.traizet@c-s.fr>
Cédric Traizet <cedric.traizet@c-s.fr>                    Cédric Traizet <traizetc@cesbio.cnes.fr>
Cédric Traizet <cedric.traizet@c-s.fr>                    Traizet Cedric <cedric.traizet@cesbio.cnes.fr>
Cédric Traizet <cedric.traizet@c-s.fr>                    ctraizet <cedric.traizet@c-s.fr>
Daniel McInerney <daniel.o.mcinerney@gmail.com>
Daniel McInerney <daniel.o.mcinerney@gmail.com>           dmci <daniel.o.mcinerney@gmail.com>
Daphne Deleflie <daphne.deleflie@thalesgroup.com>
David Youssefi <david.youssefi@cnes.fr>
Emmanuel Christophe <emmanuel.christophe@gmail.com>
Emmanuel Christophe <emmanuel.christophe@gmail.com>       Emmanuel Christophe <emmanuel.christophe@nus.edu.sg>
Emmanuel Christophe <emmanuel.christophe@gmail.com>       Emmanuel Christophe <emmanuel.christophe@orfeo-toolbox.org>
Emmanuelle Sarrazin <emmanuelle.sarrazin@cnes.fr>
Emmanuelle Sarrazin <emmanuelle.sarrazin@cnes.fr>         esarrazin <emmanuelle.sarrazin@cnes.fr>
Emmanuelle Sarrazin <emmanuelle.sarrazin@cnes.fr>         sarrazin <emmanuelle.sarrazin@cnes.fr>
Etienne Bougoin <etienne.bougoin@c-s.fr>
Gaëlle Usseglio <gaelle.usseglio@cnes.fr>                 Gaëlle USSEGLIO <gaelle.usseglio@cnes.fr>
Grégoire Mercier <gregoire.mercier@telecom-bretagne.eu>   Gregoire Mercier <gregoire.mercier@telecom-bretagne.eu>
Guilhem Bonnefille <guilhem.bonnefille@c-s.fr>
Guillaume Borrut <guillaume.borrut@c-s.fr>
Guillaume Pasero <guillaume.pasero@c-s.fr>
Guillaume Pernot <guillaume.pernot@c-s.fr>
Guillaume Pernot <guillaume.pernot@c-s.fr>                gpernot <guillaume.pernot@c-s.fr>
janestar <janestar92@163.com>
Jee Roen <jeroen.staab@posteo.de>
Jonathan Guinet <jonathan.guinet@c-s.fr>
Jordi Inglada <jordi.inglada@cesbio.eu>
Jordi Inglada <jordi.inglada@cesbio.eu>                   Jordi Inglada <jordi.inglada@cesbio.cnes.fr>
Jordi Inglada <jordi.inglada@cesbio.eu>                   Jordi Inglada <jordi.inglada@orfeo-toolbox.org>
Julien Malik <julien.malik@c-s.fr>
Julien Malik <julien.malik@c-s.fr>                        Julien Malik <julien.malik@gmail.com>
Julien Malik <julien.malik@c-s.fr>                        Julien Malik <julien.malik@orfeo-toolbox.org>
Julien Michel <julien.michel@cnes.fr>
Julien Michel <julien.michel@cnes.fr>                     Julien Michel <julien.michel@c-s.fr>
Julien Michel <julien.michel@cnes.fr>                     Julien Michel <julien.michel@orfeo-toolbox.org>
Julien Osman <julien.osman@csgroup.eu>                    Julien Osman <julien.osman@c-s.fr>
Laurențiu Nicola <lnicola@dend.ro>                        Laurentiu Nicola <lnicola@dend.ro>
Laurențiu Nicola <lnicola@dend.ro>                        Laurențiu Nicola <grayshade@gmail.com>
Luc Hermitte <luc.hermitte@csgroup.eu>
Luc Hermitte <luc.hermitte@csgroup.eu>                    Luc Hermitte <luc.hermitte@c-s.fr>
Luc Hermitte <luc.hermitte@csgroup.eu>                    Luc Hermitte <luc.hermitte@cnes.fr>
Ludovic Hussonnois <ludovic.hussonnois@c-s.fr>
Manuel Grizonnet <manuel.grizonnet@cnes.fr>
Manuel Grizonnet <manuel.grizonnet@cnes.fr>               Grizonnet Manuel <manuel.grizonnet@cnes.fr>
Manuel Grizonnet <manuel.grizonnet@cnes.fr>               Manuel Grizonnet <manuel.grizonnet@gmail.com>
Manuel Grizonnet <manuel.grizonnet@cnes.fr>               Manuel Grizonnet <manuel.grizonnet@orfeo-toolbox.org>
Marina Bertolino <marina.bertolino@c-s.fr>
Mathieu Deltorre <mathieu.deltorre@c-s.fr>
Mickaël Savinaud <mickael.savinaud@c-s.fr>
Mickaël Savinaud <mickael.savinaud@c-s.fr>                Mickael Savinaud <mickael.savinaud@c-s.fr>
Mickaël Savinaud <mickael.savinaud@c-s.fr>                msavinaud <mickael.savinaud@c-s.fr>
OTB Bot <otbbot@orfeo-toolbox.org>
Otmane Lahlou <otmane.lahlou@c-s.fr>
Patrick Imbo <patrick.imbo@c-s.fr>
Rashad Kanavath <rashad.kanavath@c-s.fr>
Rashad Kanavath <rashad.kanavath@c-s.fr>                  Rashad Kanavath <mohammed.rashad-km@cnes.fr>
Rashad Kanavath <rashad.kanavath@c-s.fr>                  Rashad Kanavath <mohammedrashadkm@gmail.com>
Rashad Kanavath <rashad.kanavath@c-s.fr>                  Rashad Kanavath <rashad.kanavath.email.com>
Rashad Kanavath <rashad.kanavath@c-s.fr>                  Rashad Kanavath <rashad.kanvath@c-s.fr>
Rashad Kanavath <rashad.kanavath@c-s.fr>                  Rashad M <rashad.kanavath@c-s.fr>
Romain Garrigues <romain.garrigues@c-s.fr>
Rosa Ruiloba <rosario.ruiloba@c-s.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     Remi Cresson <remi.cresson@irstea.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     Rémi <remi.cresson@teledetection.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     remi <remi.cresson@irstea.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     remi cresson <remi.cresson@teledetection.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     remicres <remi.cresson@teledetection.fr>
Rémi Cresson <remi.cresson@irstea.fr>                     remi cresson <remi.cresson@inrae.fr>
Sebastien Harasse <sebastien.harasse@c-s.fr>
Stephane Albert <stephane.albert@c-s.fr>
Stephane Albert <stephane.albert@c-s.fr>                  Stephane ALBERT <stephane.albert@c-s.fr>
Stephane Albert <stephane.albert@c-s.fr>                  Stephane Albert <salbert@dora.si.c-s.fr>
Sylvain Poulain <kikislater@users.noreply.github.com>     Sylvain POULAIN <kikislater@users.noreply.github.com>
Sébastien Dinot <sebastien.dinot@c-s.fr>
Sébastien Dinot <sebastien.dinot@c-s.fr>                  Achille Talon <atalon@dinot.net>
Sébastien Dinot <sebastien.dinot@c-s.fr>                  Sebastien Dinot <sebastien.dinot@c-s.fr>
Thomas Feuvrier <thomas.feuvrier@c-s.fr>
Tishampati Dhar <devnull@localhost>
Victor Poughon <victor.poughon@cnes.fr>
Vincent Poulain <vincent.poulain@thalesgroup.com>
Yannick Tanguy <yannick.tanguy@cnes.fr>                   Yannick TANGUY <tanguyy@visu01.sis.cnes.fr>
Yannick Tanguy <yannick.tanguy@cnes.fr>                   Yannick TANGUY <yannick.tanguy@cnes.fr>
Yannick Tanguy <yannick.tanguy@cnes.fr>                   ytanguy <yannick.tanguy@cnes.fr>
Yin Tiangang <crsyt@nus.edu.sg>
