[Desktop Entry]
Type=Application
Name=Monteverdi
Name[fr_FR]=Monteverdi
GenericName=Image processing
Comment=Remote sensing image processing application based on OrfeoToolbox
TryExec=/usr/bin/monteverdi
Exec=/usr/bin/monteverdi %F
Terminal=false
StartupNotify=false
Icon=monteverdi
Categories=Education;Science;ImageProcessing;Geography;Qt;
MimeType=image/tiff;image/jpeg;image/jp2;application/x-esri-shape;
