.#6666AE {
  color: #6666AE;
}

.#9168AD {
  color: #9168AD;
}

.#D166A8 {
  color: #D166A8;
}

.#DD5F6D {
  color: #DD5F6D;
}

.#E18958 {
  color: #E18958;
}

.#E1A858 {
  color: #E1A858;
}

.#E0C358 {
  color: #E0C358;
}

.#E2E05A {
  color: #E2E05A;
}

