[Desktop Entry]
Type=Application
Name=Monteverdi2 Viewer
GenericName=Image processing
Comment=Remote sensing image processing application based on OrfeoToolbox
TryExec=/usr/bin/mvd2-viewer
Exec=/usr/bin/mvd2-viewer %F
Terminal=false
StartupNotify=false
Icon=monteverdi2
Categories=Education;Science;ImageProcessing;Geography;Qt;
MimeType=image/tiff;image/jpeg;image/jp2;application/x-esri-shape;
Name[en_US]=mvd2-viewer.desktop
